.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 5;

  .overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &-container {
    background: antiquewhite;
    padding: 20px;
    position: relative;
    z-index: 2;
  }

  &-close {
    position: absolute;
    z-index: 1;
    right: -10px;
    top: -10px;
  }
}